{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

{% block manage %}
    <div class="pull-right">
        <a href="{{ path('subject_index') }}" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            {% block sidebar %}
                <div class="row">
                    <div class="col-md-12">
                        {% render(controller('AppBundle:Subject:list', {'subject': subject})) %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% render(controller('AppBundle:TaskList:list', {'subject': subject})) %}
                    </div>
                </div>
            {% endblock %}
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="Confirm delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Are you sure ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Annuler</button>
                    <button id="confirm-delete" type="button" class="btn btn-xs btn-danger">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
