{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            {% block sidebar %}
                <div class="row">
                    <div class="col-md-12">
                        {% render(controller('AppBundle:Subject:list', {'subject': subject})) %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% render(controller('AppBundle:Default:list', {'subject': subject})) %}
                    </div>
                </div>
            {% endblock %}
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
