{% extends 'base.html.twig' %}

{% block body %}
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">{{ render(controller('AppBundle:Subject:list', {'subject': subject})) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">TODO list</div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">Search</div>
                </div>
                <div class="row">
                    <div class="col-md-12">Main content</div>
                </div>
            </div>
        </div>
{% endblock %}