<div class="row">
    <div class="col-md-12">
        <a class="btn btn-xs btn-default pull-right sidebar-element" href="#">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="todo-lists">

        </div>
    </div>
</div>