<div id="{{ content.id }}" class="panel {{ content.contentClass }}" data-state="{{ content.collapsed ? 'collapsed' : 'pinnded' }}">
    <div class="panel-heading">
        <div class="panel-title">
            <h4>{{ content.title }}</h4>
        </div>
    </div>
    <div class="panel-body">
        {% include 'content/_value.html.twig' %}
    </div>
</div>