<form name="content" method="get">
        {{ form_widget(edit_form.value) }}
        <br>
        <button type="submit" class="btn btn-xs btn-success">Enregistrer</button>
        <button class="btn btn-xs btn-default cancel-edit-content">Annuler</button>
</form>
